
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(47, 88%, 63%);
    font-family: 'Figtree', sans-serif;
    
}

h1 {
    font-size: 1.1em;
    font-weight: bold;
   
}

/* Base styles */
.container {
    background-color: #FFFFFF;
    height:65%;
    width: 60%;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 10px 10px 0px hsl(0, 0%, 7%);
    
    }

.container img {
    width: 100%;
    max-width: 100%;
    max-height: auto;
    margin: 0 auto;
    height: 45%;
    border-radius: 12px;
    object-fit: cover;
    
}


/* styling the yellow learning button */
.Learning_container {
    border-radius: 8px;
    display: flex;
    background-color: hsl(47, 88%, 63%);
    max-width: 100px;
    height: 40px;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    margin-bottom: 1%;
    margin-top: 5%;
}

.container h1 {
    text-align: left;
    margin: 10px 0;
    cursor: pointer;
    
}
  
  #avatar_img {
    width: auto;
    height: 5vh;
    object-fit: contain;
    margin-left: 1px;
    margin-right: 0;
    
}

.image_text_container{
    display: flex;
    gap: 15px;
}
.text-container {
    display: flex;
    align-items: center;
    margin-left: 1px;
}



/* Active state, when hovered over h1 */
.container h1:hover {
    color: hsl(47, 88%, 63%);
    
}




/* Responsive styles using Bootstrap media queries */
@media (min-width: 576px) {
    .container {
        height: 70vh;
        width: 90%;
    }
}

@media (min-width: 768px) {
    .container {
        height: 72vh;
        width: 85%;
    }
}

@media (min-width: 992px) {
    .container {
        height: 74vh;
        width: 75%;
    }
}

@media (min-width: 1200px) {
    .container {
        height: 65vh;
        width: 25%;
    }
    
    h1{
        font-size: 1.1em;
    }
}